.tree {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -0rem; */
    /* margin-bottom: 2rem; */
    
    /* margin-left: 1rem; */
    position: relative;
    right:0.5%;
    
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 25px 5px 0 0px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 3px solid #ccc;
    width: 50%;
    height: 22px;

}

.tree li::after {

    right: auto;
    left: 50%;
    border-left: 3px solid #ccc;

}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;

}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;

}

.tree li:last-child::before {
    border-right: 3px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 3px solid #ccc;
    width: 0;
    height: 20px;

}
.tree ul{
    padding: 20px 10px !important;
}

.tree li div {
    width: 60px;
    border: 1px solid #ccc;
    padding: 1rem 0.8rem;
    text-decoration: none;
    /* color: #666; */
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

    font-size: 0.6rem;
    font-weight: 600;
    /* font-size: 11px; */
    display: inline-block;
    text-align: center;
    


    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

}

.tree li div:hover,
.tree li div:hover+ul li div {
    background: #c8e4f8 !important;
    /* color: #000; */
    /* border: 1px solid #94a0b4; */
    /* border: 3px solid #ee6916; */
}

.tree li div:hover+ul li::after,
.tree li div:hover+ul li::before,
.tree li div:hover+ul::before,
.tree li div:hover+ul ul::before {
    border-color: #94a0b4;
}



